defaults: &defaults
  secret_key_base: fc10280147ee153d098675a4275356656728b8606b6c2c8e9070f6c4af3a27885d66592af99cfc71ff6b76c1734c0b5044ad2fed5d1a470a0ce5258942bfb31d

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
