<div class="card my-3 p-6" data-gj-poll-replace id="executions-chart">
  <%= render 'good_job/shared/chart', chart_data: GoodJob::ScheduledByQueueChart.new(@filter).data %>
</div>

<%= render 'good_job/shared/filter', filter: @filter %>

<%= render 'good_job/executions/table', executions: @filter.records %>

<% if @filter.records.present? %>
  <nav aria-label="Job pagination" class="mt-3" data-gj-poll-replace id="executions-pagination">
    <ul class="pagination">
      <li class="page-item">
        <%= link_to({ after_scheduled_at: (@filter.last.scheduled_at || @filter.last.created_at), after_id: @filter.last.id }, class: "page-link") do %>
          Older executions <span aria-hidden="true">&raquo;</span>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>
