.bundle/
log/
pkg/
vendor/bundle
demo/log/*.log
demo/storage/
demo/tmp/
spec/tmp/example_app
.env
doc
.yardoc
gemfiles/*.gemfile.lock
tmp/rspec_examples.txt
.DS_Store
tmp/example_app
Brewfile.lock.json
tmp/*
!tmp/.keep
