<% if notice %>
  <div class="alert alert-success alert-dismissible fade show d-flex align-items-center offset-md-3 col-6" role="alert">
    <%= render "good_job/shared/icons/check", class: "flex-shrink-0 me-2" %>
    <div><%= notice %></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% elsif alert %>
  <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center offset-md-3 col-6" role="alert">
    <%= render "good_job/shared/icons/exclamation", class: "flex-shrink-0 me-2" %>
    <div><%= alert %></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
