<footer class="footer mt-auto py-3 bg-body-tertiary border-top text-muted small" id="footer" data-live-poll-region="footer">
  <div class="container-fluid">
    GoodJob v<%= GoodJob::VERSION %>
  </div>
</footer>
