<%= render 'good_job/shared/filter', title: "Jobs", filter: @filter %>
<%= render 'good_job/shared/chart', chart_data: GoodJob::ScheduledByQueueChart.new(@filter).data %>
<%= render 'good_job/jobs/table', jobs: @filter.records, all_jobs_count: @filter.filtered_query_count %>

<% if @filter.records.present? %>
  <nav aria-label="Job pagination" class="mt-3" data-gj-poll-replace id="jobs-pagination">
    <ul class="pagination">
      <li class="page-item">
        <%= link_to(@filter.to_params(after_scheduled_at: (@filter.last.scheduled_at || @filter.last.created_at), after_id: @filter.last.id), class: "page-link") do %>
          Older jobs <span aria-hidden="true">&raquo;</span>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>
