<div class="card my-3 p-6">
  <%= render 'shared/chart', chart_data: @chart %>
</div>

<% if @jobs.present? %>
  <%= render 'shared/jobs_table', jobs: @jobs %>

  <nav aria-label="Job pagination">
    <ul class="pagination">
      <li class="page-item">
        <%= link_to({ after_scheduled_at: (@jobs.last.scheduled_at || @jobs.last.created_at), after_id: @jobs.last.id }, class: "page-link") do %>
          Next jobs <span aria-hidden="true">&raquo;</span>
        <% end %>
      </li>
    </ul>
  </nav>
<% else %>
  <em>No jobs present.</em>
<% end %>
