<li class="list-group-item d-flex justify-content-between align-items-center">
  <%= value %>
  <%= button_to t('good_job.pauses.index.unpause'),
    { action: :destroy, type: type, value: value },
    method: :delete,
    class: 'btn btn-sm btn-outline-primary',
    data: { turbo_confirm: t('good_job.pauses.index.confirm_unpause', value: value) } %>
</li>
