<div class="my-3 flex">
  <h2>Cron Schedules</h2>
</div>

<% if @cron_entries.present? %>
  <div class="card my-3">
    <div class="table-responsive">
      <table class="table card-table table-bordered table-hover table-sm mb-0">
        <thead>
          <th>Key</th>
          <th>Schedule</th>
          <th>Active</th>
          <th>
            Properties
            <%= tag.button "Toggle", type: "button", class: "btn btn-sm btn-outline-primary", role: "button",
                           data: { bs_toggle: "collapse", bs_target: ".cron-entry-properties" },
                           aria: { expanded: false, controls: @cron_entries.map { |cron_entry| "##{dom_id(cron_entry, 'properties')}" }.join(" ") }
            %>
          </th>
          <th>Description</th>
          <th>Next scheduled</th>
          <th>Last run</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% @cron_entries.each do |cron_entry| %>
            <%= render 'row', cron_entry: cron_entry %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="card my-3">
    <div class="card-body">
      <p class="card-text">
        <em>No cron schedules found.</em>
      </p>
    </div>
  </div>
<% end %>
