.tooltip {
  position: absolute;
  z-index: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  border-radius: 3px;
  text-align: center;
  pointer-events: none;
  color: white;
  transition: opacity .1s ease-out;
}

.tooltip.tooltip-hidden {
  opacity: 0;
}

.ct-label.ct-horizontal {
  white-space: nowrap;
}

.chart-wrapper {
  position: relative;
  height: 200px;
}

/* Break out of a container */
.break-out {
  width:100vw;
  position:relative;
  left:calc(-1 * (100vw - 100%)/2);
}

.toast-container {
  z-index: 1;
}

.translation_missing {
  background-color: red;
  color: white;
}
