name: Test
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_PATH: vendor/bundle
      DISABLE_SPRING: 1
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # Dependencies
      - name: Install missing libs (This is slated to be added to the base image soon!)
        run: sudo apt-get -yqq install libpq-dev
      - name: "Set Ruby version"
        id: ruby_version
        run: echo "::set-output name=value::$(cat .ruby-version)"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ steps.ruby_version.outputs.value }}
      - name: Ruby gem cache
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: v1-bundler-${{ runner.os }}-${{ steps.ruby_version.outputs.value }}-${{ hashFiles('**/good_job.gemspec') }}-${{ hashFiles('**/Gemfile.lock') }}-${{ hashFiles('**/Appraisals') }}
          restore-keys: |
            v1-bundler-${{ runner.os }}-${{ steps.ruby_version.outputs.value }}-
      - name: Install bundler
        run: gem update --system && gem install bundler -v $(grep -A 1 "BUNDLED WITH" Gemfile.lock | tail -1 | tr -d " ")
      - name: Install Gemfile gems
        run: bundle install
      - name: Install Appraisal gems
        run: bundle exec appraisal install --path $BUNDLE_PATH
      # /Dependencies

      - name: Run linter
        run: bin/lint --nofix

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        ruby: [2.5, 2.6, 2.7, 3.0, jruby-9.2.13.0, jruby-9.2.14.0]
        pg: [12.5, 10.8]
    env:
      PGHOST: localhost
      PGUSER: test_app
      RAILS_ENV: test
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_PATH: vendor/bundle
      DISABLE_SPRING: 1
    services:
      postgres:
        image: postgres:${{ matrix.pg }}
        env:
          POSTGRES_USER: test_app
          POSTGRES_DB: test_app_test
          POSTGRES_PASSWORD: ""
          POSTGRES_HOST_AUTH_METHOD: trust
        ports: ["5432:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # Dependencies
      - name: Install missing libs (This is slated to be added to the base image soon!)
        run: sudo apt-get -yqq install libpq-dev
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Ruby gem cache
        uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: v1-bundler-${{ runner.os }}-${{ matrix.ruby }}-${{ hashFiles('**/good_job.gemspec') }}-${{ hashFiles('**/Gemfile.lock') }}-${{ hashFiles('**/Appraisals') }}
          restore-keys: |
            v1-bundler-${{ runner.os }}-${{ matrix.ruby }}-
      - name: Install bundler
        run: gem update --system && gem install bundler --default -v $(grep -A 1 "BUNDLED WITH" Gemfile.lock | tail -1 | tr -d " ")
      - name: Install Gemfile gems
        run: bundle install --without lint
      - name: Install Appraisal gems
        run: bundle exec appraisal install --without lint --path $BUNDLE_PATH
      # /Dependencies

      - name: Set up test database
        run: bin/rails db:test:prepare
        working-directory: spec/test_app
      - name: Run tests
        run: bundle exec appraisal bin/rspec
      - name: Archive system spec screenshots
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: screenshots
          path: spec/test_app/tmp/screenshots
      - name: Archive Rails logs
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: rails_logs
          path: spec/test_app/log
